@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

:root{
    --night      : #0F0F0F;
    --jet        : #2D2E2E;
    --dimgray    : #716969;
    --roquartz   : #BCABAE;
    --white      : #FBFBFB;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat medium', sans-serif;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--night);
}

.block{
    display: block !important;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    background-color: var(-white);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--dimgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 1.3rem;
    font-weight: 500;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li a{
    padding-block: 5px;
    padding-inline: 20px;
    margin-inline: 10px;
    transition: 0.3s;
}

nav ul li a:hover{
    font-weight: 500;
    box-shadow: 0 1px 0 0 var(--night);
    color: var(--night);
}

nav span{
    outline: 1px solid var(--night);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

nav span:hover{
    outline: 1px solid var(--night);
    padding: 10px;
    background-color: var(--jet);
    color: var(--white);
}

main{
    margin-block: 20px;
    display: grid;
    grid-template-columns: 35% 15% 50%;
}

.left-section h1{
    font-weight: 400;
    font-size: 3.5rem;
    margin-block: 5px;
}

.left-section ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.left-section ul li a{
    display: block;
    background-color: var(--dimgray);
    color: var(--white);
    margin-block: 5px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 3px;
}

.right-section {
    display: flex;
    justify-content: center;
}

.right-section .profile-img {
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0px 45px 50px -30px var(--dimgray);
}

.right-section .profile-img img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    outline: 3px solid var(--jet);
}

.first-row{
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    overflow-x: auto;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

.first-row::-webkit-scrollbar{
    display: none;
}

h2.project-title{
    padding-block: 20px;
    border-bottom: 1px solid var(--night);
}

.first-row .project{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    scroll-snap-align: start;
    position: relative;
}

.first-row .project img{
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    transition: 1s;
}

.indicators {
    padding-block: 20px;
    bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
  }
  
.indicators .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dimgray);
    margin: 0 5px;
    cursor: pointer;
}
  
.indicators .dot.active {
    background-color: var(--night);
}

@media (max-width: 720px) {
    .container{
        width: 95%;
    }
    main{
        margin-block: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
    
    nav{
        display: none;
    }
        
    .right-section .profile-img {
        margin-top: 30px;
        box-shadow: 0 0 0 0 var(--dimgray);
    }

    .first-row .project img:hover, .project img:active{
        filter:brightness(80%)
    }
    
    
    .first-row .project img:hover ~ .about-project, .project img:active ~ .about-project{
        opacity: 1;
        fill: brightness(80%);
    }

    .about-project {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .about-project h3.project-title, .desc-project{
        text-overflow: clip;
        color: white;
    }
}